<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="baget-local" value="http://gitea-host.example:5555/v3/index.json" protocolVersion="3" allowInsecureConnections="true" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="gitea-local" value="http://gitea-host.example:3000/api/packages/emre/nuget/index.json" protocolVersion="3" allowInsecureConnections="true" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="baget-local">
      <package pattern="*" />
    </packageSource>
    <packageSource key="gitea-local">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
