<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="gitea" value="http://gitea-host.example:3000/api/packages/emre/nuget/index.json" />
  </packageSources>
  <config>
    <add key="allowInsecureConnections" value="true" />
  </config>
</configuration>
